<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Coffe Machine Support</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <!-- header section starts -->
    <header class="header">
      <a href="#" class="logo">
        <img src="images/logo.png" alt="logo" />
      </a>

      <!-- Navigation Bar -->
      <nav class="navbar">
        <a href="#home">home</a>
        <a href="#about">about</a>
        <a href="#support">support</a>
        <a href="#contact">contact</a>
        <a href="#blogs">blogs</a>
        <a href="/login" id="logoutBtn">logout</a>
      </nav>

      <!-- Icons for the navigation -->
      <div class="icons">
        <div class="fas fa-search" id="search-btn"></div>
        <div class="fas fa-bars" id="menu-btn"></div>
      </div>

      <!-- Search section with its icon -->
      <div class="search-form">
        <input type="search" id="search-box" placeholder="search here..." />
        <label for="search-box" class="fas fa-search"></label>
      </div>
    </header>


    <!-- home section starts -->
    <section class="home" id="home">
      <div class="content">
        <h3>fresh coffee in the morning</h3>
        <p>
          Here you can find all the information you need to get your coffee.
        </p>
        <a href="#" class="btn">get yours now</a>
      </div>
    </section>
    <!-- home section ends -->

    <!-- about section starts -->
    <section class="about" id="about">
      <h1 class="heading"><span>about</span> us</h1>
      <div class="row">
        <div class="image">
          <img src="images/about-img.jpeg" alt="about" />
        </div>

        <div class="content">
          <h3>what makes our coffee special?</h3>
          <p>
            Our coffee stands out because of its exceptional quality and flavor profile,
            sourced from the finest coffee farms around the world. We carefully select
            beans that are handpicked and roasted to perfection, ensuring a rich, smooth,
            and aromatic experience in every cup. Our unique blends are crafted with a perfect
            balance of boldness and sweetness, creating a truly memorable taste that coffee lovers cherish.
          </p>
          <p>
            What sets us apart is our commitment to sustainability and ethical sourcing.
            We work directly with farmers to ensure fair trade practices and environmentally
            responsible methods. From the moment the beans are harvested until they reach your cup,
            we prioritize freshness and quality to bring you an unparalleled coffee experience.
          </p>
          <a href="#" class="btn">learn more</a>
        </div>
      </div>
    </section>
    <!-- about section ends -->

    <!-- support section starts -->
    <section class="support" id="support">
      <h1 class="heading"><span>support</span></h1>
      <div class="row">
        <form action="">
          <h3>Need help with your coffee machine?</h3>
          <p>If you're out of pods or cups, contact us for immediate support.
            <p><a href="supportUni" class="btn">Click Here</a></p>
          </p>
        </form>
      </div>
    </section>
    <!-- support section ends -->

    <!-- contact section starts -->
    <section class="contact" id="contact">
      <h1 class="heading"><span>contact</span> us</h1>
      <div class="row">
        <iframe
          class="map"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.226444926988!2d-84.11982379999996!3d9.99814490000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fb1dece27ad9%3A0x959286a7b4907d82!2sHeredia!5e0!3m2!1ses!2scr!4v1666754247246!5m2!1ses!2scr"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>

        <form action="">
          <h3>get in touch</h3>
          <div class="inputBox">
            <span class="fas fa-user"></span>
            <input type="text" placeholder="name" />
          </div>
          <div class="inputBox">
            <span class="fas fa-envelope"></span>
            <input type="email" placeholder="email" />
          </div>
          <div class="inputBox">
            <span class="fas fa-phone"></span>
            <input type="text" placeholder="number" />
          </div>
          <input type="submit" value="contact now" class="btn" />
        </form>
      </div>
    </section>
    <!-- contact section ends -->

    <!-- blogs section starts -->
    <section class="blogs" id="blogs">
      <h1 class="heading">our <span>blogs</span></h1>
      <div class="box-container">
        <div class="box">
          <div class="image">
            <img src="images/blog-1.jpeg" alt="blog1" />
          </div>
          <div class="content">
            <a href="#" class="title">tasty and refreshing coffee</a>
            <span>by admin / 21st may, 2022</span>
            <p>
              Follow our blog for the latest news, updates, and tips on all things coffee.
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/blog-2.jpeg" alt="blog2" />
          </div>
          <div class="content">
            <a href="#" class="title">tasty and refreshing coffee</a>
            <span>by admin / 21st may, 2022</span>
            <p>
              Follow our blog for the latest news, updates, and tips on all things coffee.
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
        <div class="box">
          <div class="image">
            <img src="images/blog-3.jpeg" alt="blog3" />
          </div>
          <div class="content">
            <a href="#" class="title">tasty and refreshing coffee</a>
            <span>by admin / 21st may, 2022</span>
            <p>
              Follow our blog for the latest news, updates, and tips on all things coffee.
            </p>
            <a href="#" class="btn">read more</a>
          </div>
        </div>
      </div>
    </section>
    <!-- blogs section ends -->

    <!-- footer section starts -->
    <section class="footer">
      <div class="share">
        <a href="#" class="fab fa-facebook-f"></a>
        <a href="#" class="fab fa-x"></a>
        <a href="#" class="fab fa-instagram"></a>
        <a href="#" class="fab fa-linkedin"></a>
      </div>

      <div class="credit">
        created by <span>erick arauz</span> | rights reserved for
        <span>mr. web designer</span>
      </div>
    </section>
    <!-- footer section ends -->

    <!-- custom js file link -->
    <script src="home.js"></script>
  </body>
</html>
